{% extends "base.html" %}
{% load humanize %}


{% block content %}
    <div class="container contentContainer">
        {% if source == 'perm' %}
            <h3>{{ hire.job_title }}</h3>
            <table class="table">
                <tr>
                    <td>Wage Rate</td>
                    <td>{{ hire.wage|floatformat:"0"|intcomma }} per {{ hire.wage_unit }}</td>
                </tr>
                <tr>
                    <td>Employment Start Date (circa)</td>
                    <td>{{ hire.start_date }}</td>
                </tr>
                <tr>
                    <td>Employer Name</td>
                    <td>{{ hire.employer_name }}</td>
                </tr>
                <tr>
                    <td>Employer Address1</td>
                    <td>{{ hire.employer_address1 }}</td>
                </tr>
                <tr>
                    <td>Employer Address2</td>
                    <td>{{ hire.employer_address2 }}</td>
                </tr>
                <tr>
                    <td>Employer City</td>
                    <td>{{ hire.employer_city }}</td>
                </tr>
                <tr>
                    <td>Employer State</td>
                    <td>{{ hire.employer_state }}</td>
                </tr>
                <tr>
                    <td>Employer Zipcode</td>
                    <td>{{ hire.employer_zipcode }}</td>
                </tr>
                <tr>
                    <td>Employer Employee Headcount</td>
                    <td>{{ hire.employer_num_employees }}</td>
                </tr>
                <tr>
                    <td>Employer Year Established</td>
                    <td>{{ hire.employer_yr_estab }}</td>
                </tr>
                <tr>
                    <td>Employee Education Level</td>
                    <td>{{ hire.education }}</td>
                </tr>
                <tr>
                    <td>Employee Major of Study</td>
                    <td>{{ hire.major }}</td>
                </tr>
                <tr>
                    <td>Class of Admission</td>
                    <td>{{ hire.class_of_admission }}</td>
                </tr>

            </table>
        {% endif %}


        <h3>Recent reviews</h3>
        {% if review_list %}
            <div class="row">
                {% for review in review_list %}
                    <div class="col-lg-12" style="border-top: 1px solid grey">
                        <h6>By {{ review.user_name }} on {{review.pub_date}} </h6>
                        <em>{{ review.comment }}</em>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p>No review for this hiring yet</p>
        {% endif %}

        <h3>Add your review</h3>

        <form action="{% url 'reviews:add_review' year=hire.year case_number=hire.case_number %}" method="post" class="form">
            {% csrf_token %}
             <div class="form-group">
                {{ form.comment }}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Submit
                </button>
            </div>
        </form>
    </div>

{% endblock %}
