{% load humanize %}

<tr>
    <td>Work Location City</td>
    <td>{{ hire.work_location_city1 }}</td>
</tr>
<tr>
    <td>Work Location State</td>
    <td>{{ hire.work_location_state1 }}</td>
</tr>
<tr>
    <td>Education Level</td>
    <td>{{ hire.job_info_education }}</td>
</tr>
<tr>
    <td>Major of Study</td>
    <td>{{ hire.job_info_major }}</td>
</tr>
<tr>
    <td>Country of Citizenship</td>
    <td>{{ hire.country_of_citizenship }}</td>
</tr>
<tr>
    <td>Class of Admission</td>
    <td>{{ hire.class_of_admission }}</td>
</tr>

