{% extends 'base.html' %}
{% load humanize %}

{% block search_block %}
    <h2>Search</h2>

    <form method="get" action=".">
        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    </form>

    {% if query %}
        <!-- Begin Faceting -->
        <h2>By employer_name</h2>
        <div>
            <dl>
                {% if facets.fields.employer_name %}
                    <dt>employer_name</dt>
                    {# Provide only the top 5 employer_names #}
                    {% for employer_name in facets.fields.employer_name|slice:":5" %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=employer_name_exact:{{ employer_name.0|urlencode }}">{{ employer_name.0 }}</a> ({{ employer_name.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No employer_name facets.</p>
                {% endif %}
            </dl>
        </div>

        <h2>By employer_address1</h2>
        <div>
            <dl>
                {% if facets.fields.employer_address1 %}
                    <dt>employer_address1</dt>
                    {# Provide only the top 5 employer_address1s #}
                    {% for employer_address1 in facets.fields.employer_address1|slice:":5" %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=employer_address1_exact:{{ employer_address1.0|urlencode }}">{{ employer_address1.0 }}</a> ({{ employer_address1.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No employer_address1 facets.</p>
                {% endif %}
            </dl>
        </div>
        <!-- End Faceting --> 

        <h3>Results</h3>

        <table class="table">
            {% for result in object_list %}
                <tr>
                    <td>{{ result.object.year }}</td>
                    <td>{{ result.object.job_title }}</td>
                    <td>
                        {%if result.object.wage_rate_of_pay_from %}
                            {{ result.object.wage_rate_of_pay_from|floatformat:"0"|intcomma }}  
                        {% else %}
                            {{ result.object.prevailing_wage|floatformat:"0"|intcomma  }} 
                        {% endif %} /  
                        {{ result.object.wage_unit_of_pay }} 
                    </td>
                    <td>{{ result.object.employer_name }}</td>
                    <td>
                        {{ result.object.employer_address1}}
                        {%if  result.object.employer_address2 %}
                            {{ result.object.employer_address2}}
                        {% endif %}
                        ,<br>
                        {{ result.object.employer_city}}, {{ result.object.employer_state}}
                        {{ result.object.employer_postal_code}}
                    </td>
                    <td><a href="{{ result.object.get_absolute_url }}"><p>detail</p></a></td>
                </tr>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% else %}
                <p>No Pagination</p>
            {% endif %}

        </table>

    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}
