{% extends 'base.html' %}
{% load humanize %}
{% load nvd3_tags %}

{% block search_block %}

    <div style="padding-left: 10px; padding-right: 10px;" class="container">

        <h2>Search</h2>

        <!-- start search form -->
        <form method="get" action={% url 'haystack_search' %}>
            {% csrf_token %}
            {{ form.q }}
            <input type="submit" value="Search">
        </form>
        <!--end search form-->

        <!--start left panel-->
        <div class="col-xs-12 col-sm-3">
            {% if query %}

                <button type="button" class="btn btn-primary" onclick="sendFacetURL()">filter</button>

                <!-- Begin Faceting -->
                {% if facets.fields.employer_name %}
                    <h4>Employer Name</h4>

                    <div>
                        {# Provide only the top 5 employer_names #}
                        {% for employer_name in facets.fields.employer_name|slice:":5" %}
                            <div class="checkbox">
                                <label><input type="checkbox" name="employer_name[]" value="{{ employer_name.0 }}">{{ employer_name.0 }} ({{ employer_name.1 }})</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% if facets.fields.employer_address1 %}
                    <h4>Employer Address</h4>

                    <div>
                        {# Provide only the top 5 addresses #}
                        {% for employer_address1 in facets.fields.employer_address1|slice:":5" %}
                            <div class="checkbox">
                                <label><input type="checkbox" name="employer_address1[]" value="{{ employer_address1.0 }}">{{ employer_address1.0 }} ({{ employer_address1.1 }})</label>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <!-- End Faceting --> 
            {% endif %}
        </div>
        <!--end left panel-->

        <!--start main panel-->
        <div class="col-xs-12 col-sm-9">
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Detail View</a></li>
                    <li role="presentation"><a href="#graph" aria-controls="graph" role="tab" data-toggle="tab">Graphic View</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!--detail pane start-->
                    <div role="tabpanel" class="tab-pane active" id="detail">
                        {% if query %}
                            <h3>Results</h3>

                            <table class="table">
                                {% for result in object_list %}
                                    <tr>
                                        <td>{{ result.object.year }}</td>
                                        <td>{{ result.object.job_title }}</td>
                                        <td>
                                            {%if result.object.wage_rate_of_pay_from %}
                                                {{ result.object.wage_rate_of_pay_from|floatformat:"0"|intcomma }}  
                                            {% else %}
                                                {{ result.object.prevailing_wage|floatformat:"0"|intcomma  }} 
                                            {% endif %} /  
                                            {{ result.object.wage_unit_of_pay }} 
                                        </td>
                                        <td>{{ result.object.employer_name }}</td>
                                        <td>
                                            {{ result.object.employer_address1}}
                                            {%if  result.object.employer_address2 %}
                                                {{ result.object.employer_address2}}
                                            {% endif %}
                                            ,<br>
                                            {{ result.object.employer_city}}, {{ result.object.employer_state}}
                                            {{ result.object.employer_postal_code}}
                                        </td>
                                        <td><a href="{{ result.object.get_absolute_url }}"><p>view</p></a></td>
                                    </tr>
                                {% empty %}
                                    <p>No results found.</p>
                                {% endfor %}

                                {% if page_obj.has_previous or page_obj.has_next %}
                                    <div>
                                        {% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                                        |
                                        {% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                                    </div>
                                {% else %}
                                    <p>No Pagination</p>
                                {% endif %}

                            </table>

                        {% else %}
                            {# Show some example queries to run, maybe query syntax, something else? #}
                        {% endif %}
                    </div>
                    <!--detail pane ends-->

                    <div role="tabpanel" class="tab-pane" id="graph">
                        {% include_chart_jscss %}
                        {% load_chart charttype chartdata chartcontainer d3_extra %}
                        {% include_container chartcontainer%}
                    </div>
                </div>

            </div>



        </div>
        <!--end main panel-->
    </div>

    <script>
        function sendFacetURL(){
            var facet_arr=["employer_name","employer_address1"];
            var curURL = "{{ request.get_full_path }}";
            var arr = curURL.split("&amp;");
            var res = (arr.length>1)?(arr[0]+"&amp;"+arr[1]):(arr[0]);
            //window.alert(curURL);
            //window.alert(res);
            for(var i=0; i<facet_arr.length; i++){
                var facet_boxes=document.getElementsByName(facet_arr[i]+"[]");
                for(var j=0; j<facet_boxes.length; j++){
                    if(facet_boxes[j].checked){
                        res=res+"&amp;selected_facets="+facet_arr[i]+"_exact:"+encodeURIComponent(facet_boxes[j].value);
                    }
                }
            }
            window.location=res;

            //arr.pop();
            //window.location=arr.join("&amp;");
            //window.alert(arr.join("&amp;"))
        }
    </script>
{% endblock %}
